@model Contact

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

<div>
	<p><i class='fa fa-envelope'></i> @Model?.Email</p>
	<p><i class='fa fa-phone'></i> @Model?.Tel</p>
</div>
