<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d8371fc5-3277-4ae3-a294-2eb2be376118/resourcegroups/appsvc_windows_centralus/providers/Microsoft.Web/sites/MinimalWebAPI20220508185538</ResourceId>
    <ResourceGroup>appsvc_windows_centralus</ResourceGroup>
    <ApiResourceId>/subscriptions/d8371fc5-3277-4ae3-a294-2eb2be376118/resourceGroups/DefaultResourceGroup-WEU/providers/Microsoft.ApiManagement/service/MinimalWebAPIapi/apis/MinimalWebAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://minimalwebapi20220508185538.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>b6794490-c783-4269-8728-b4da7061545d</ProjectGuid>
    <MSDeployServiceURL>minimalwebapi20220508185538.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MinimalWebAPI20220508185538</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$MinimalWebAPI20220508185538</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>