<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/d8371fc5-3277-4ae3-a294-2eb2be376118/resourceGroups/DefaultResourceGroup-WEU/providers/Microsoft.ApiManagement/service/TodoWebApiMgmtApi/apis/TodoWebApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/d8371fc5-3277-4ae3-a294-2eb2be376118/resourcegroups/DefaultResourceGroup-WEU/providers/Microsoft.Web/sites/TodoWebApi20220507185611</ResourceId>
    <ResourceGroup>DefaultResourceGroup-WEU</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://todowebapi20220507185611.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>69eaea27-c8a7-46d2-a282-3dd2e404e820</ProjectGuid>
    <PublishUrl>https://todowebapi20220507185611.scm.azurewebsites.net/</PublishUrl>
    <UserName>$TodoWebApi20220507185611</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>